<header class="site-branding">
  <a href="{{@site.url}}" title="Go home">
    <span class="jg-branding">
      {{#if @site.logo}}
        <img data-src="{{@site.logo}}" class="svginline site-logo" alt="Rounded Eyeglasses" />
      {{else}}
        <svg viewBox="0 0 72 26" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <title>Rounded Eyeglasses</title>
            <g id="jg-specs" transform="translate(-40.000000, -28.000000)" fill="currentColor" fill-rule="nonzero">
                <path d="M82.2764283,33.3829096 C91.031891,26.0631705 96.8568657,26.6966764 105.893857,32.346928 C107.547674,33.3828748 109.744316,34.0544843 112,33.9266902 L111.966,33.927 L111.966519,39.503505 C106.476213,40.1459006 110.370844,43.6726098 104.002089,50.2395567 L103.68051,50.5649732 C96.8763063,57.3378688 78.7466088,54.2514331 79.365381,36.7762486 C78.5188516,35.7049408 73.3915057,35.9033943 72.601138,36.8850117 C73.2196366,54.3608227 55.1065572,57.4496947 48.2860086,50.6737363 C41.465388,43.881211 45.5801674,40.2485305 40,39.6122681 L40,39.6122681 L40,34.0354533 C42.2528756,34.1632543 44.4523256,33.4916727 46.1061432,32.4556911 C55.1431343,26.8245121 60.9479484,26.1883611 69.7235717,33.4916727 C74.6290789,32.4938017 77.2981269,32.3660007 82.2764283,33.3829096 Z M57.8097343,30.3837628 C51.4785844,30.3837628 46.3484305,35.3433601 46.3484305,41.4640251 C46.3484305,47.5846902 51.4785844,52.5442875 57.8097343,52.5442875 C64.1408842,52.5442875 69.2710381,47.5846902 69.2710381,41.4640251 C69.2710381,35.3433601 64.1408842,30.3837628 57.8097343,30.3837628 Z M94.2046661,30.2749997 C87.8735162,30.2749997 82.7433623,35.234597 82.7433623,41.3552621 C82.7433623,47.4759271 87.8735162,52.4355244 94.2046661,52.4355244 C100.535816,52.4355244 105.66597,47.4759271 105.66597,41.3552621 C105.66597,35.234597 100.535816,30.2749997 94.2046661,30.2749997 Z" id="Shape"></path>
            </g>
        </svg>
      {{/if}}
    </span>
    <div class="site-title">{{@site.title}}</div>
  </a>
</header>
