{{!-- Document Settings --}}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

{{!-- Base Meta --}}
<title>{{ meta_title }}</title>
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://script.hotjar.com">
<link rel="preconnect" href="https://vars.hotjar.com">
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://use.typekit.net">
<link rel="preconnect" href="https://js.stripe.com">
<link rel="preconnect" href="https://unpkg.com">
<link rel="preload" as="style" href="https://use.typekit.net/cgh6evo.css" onload="this.onload=null;this.rel='stylesheet'">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5H4MGXH');</script>
<!-- End Google Tag Manager -->
{{!-- Styles'n'Scripts --}}
<link rel="stylesheet" type="text/css" href="{{asset 'built/jgg.css'}}" defer />