{{#unless @member}}
<a href="#/portal/sign-in">Sign In</a> | <a href="#/portal/signup" class="cta">Subscribe</a>
{{else}}
<a href="#/portal/account">Manage Subscription</a> | <a href="javascript:" data-members-signout>Sign out</a>
{{/unless}}