{{!< default}} <section class="post-error">
    <article class="error-message">
        <h1 class="error-code">{{statusCode}}</h1>
        <p class="error-description">{{message}}</p>
    </article>
    </section>