{{!< default}}
<section class="greeting">
    {{#page}}
        <h1 class="super">{{title}}</h1>
        <article>
            {{content}}
        </article>
    {{/page}}
    {{#unless @member}}
      {{> subscribe-form}}
    {{/unless}}
</section>